/*Общие*/
body {
  min-width: 960;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url("../img/background-main.jpg") no-repeat center top;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 50px;
  color: #ffffff;
  background-color: #000000;
  min-height: 72px;
}

.inner {
  margin-bottom: 0;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
}

.main-navigation a:hover {
  background: #242424;
}

.user-block {
  float: right;
  width: 140px;
}

.login {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  padding: 25px 20px;
  padding-left: 50px;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.main-area {
  background: #f8f5f2 url("../img/pattern-1");
  color: #000000;
}

.page-title {
  margin-bottom: 42px;
  padding-top: 50px;
  color: #000000;
}

.page-title h1 {
  margin: 0;
  margin-bottom: 16px;
  min-width: 310px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 35px;
  min-width: 500px;
  font-size: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs li:last-child a {
  color: #aba9a7;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
  bottom: 35%;
  left: 80%;
  margin-left: 25px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs li:nth-child(3)::after {
  left: 90%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-2.jpg");
}

.footer-inner {
  margin-top: 0;
}

.footer-contacts {
  float: left;
  width: 180px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 320px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  position: relative;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background-color: #000000; 
  vertical-align: top;
  font-size: 0;
  text-decoration: none;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  /*transition: 
    background-position 0.5s,
    background-color 0.5s;*/
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk::before {
  width: 25px;
  height: 16px;
  background-position: -220px -10px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -147px -10px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -179px -10px;
}

.social-btn-vk:hover::before {
  width: 25px;
  height: 16px;
  background-position: -341px -10px;
}

.social-btn-fb:hover::before {
  width: 12px;
  height: 22px;
  background-position: -83px -10px;
}

.social-btn-inst:hover::before {
  width: 21px;
  height: 21px;
  background-position: -265px -10px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 30px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom:0;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover, 
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

/*index.html*/

.index-logo {
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  height: 204px;
  width: 368px;
}

.features {
  margin-bottom: 80px;
}

.features-items {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-items:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-items p {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background: url("../img/content-shadow.png") no-repeat center, #f8f5f2 url("../img/pattern-1.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  margin-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solif #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

/*catalog.html*/
.filter {
  float: left;
  width: 180px;
}

.filter-manufacturer h3 {
  margin-bottom: 28px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:hover + label:hover {
  color: #663d15;
}

input[type="checkbox"] + label {
  display: block;
  margin: 17px 0;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:last-of-type + label:last-of-type {
  margin-bottom: 0;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -115px -10px;
  position: absolute;
  top: 4px;
  left: 4px;
}

input[type="checkbox"]:disabled + label {
  color: #aeaeae;
}

input[type="checkbox"]:disabled + label::before {
  border: 2px solid #aeaeae;
}

input[type="checkbox"]:disabled + label::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -115px -10px;
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0.3;
}

input[type="checkbox"]:disabled:hover + label {
  color: #aeaeae;
}

.filter-product h3 {
  margin-bottom: 27px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:hover + label:hover {
  color: #663d15;
}

input[type="radio"] + label {
  display: block;
  margin: 17px 0;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:last-of-type + label:last-of-type {
  margin-bottom: 50px;
}

input[type="radio"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #f9f6f3;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked + label::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  top: 6px;
  left: 6px;
}

input[type="radio"]:disabled + label {
  color: #aeaeae;
}

input[type="radio"]:disabled + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #aeaeae;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:disabled + label::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #aeaeae;
  position: absolute;
  top: 6px;
  left: 6px;
}

input[type="radio"]:disabled:hover + label {
  color: #aeaeae;
}

.button-show {
  width: 113px;
  text-align: center;
}

.products {
  float: right;
  width: 720px;
}

.products-item {
  display: inline-block;
  width: 220px;
  min-height: 287px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  font-size: 0;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}

.products-item p {
  margin-left: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.products-item a:first-child {
  text-decoration: none;
  color: #000000;
}

.products-item img {
  margin-bottom: 3px;
}

.product-price {
  display: inline-block;
  margin-left: 16px;
  width: 109px;
  min-height: 42px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.price-tag {
  display: block;
  margin-top: 8px;
  font-size: 14px;
}

.item-category {
  display: block;
  text-transform: none;
  margin-bottom: -5px;
  font-size: 14px;
}

.item-name {
  display: block;
}

.purchase-btn {
  width: 78px;
  padding: 9px 0 9px 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}

.products-item:nth-child(3n) {
  margin-right: 0;
}

.products-pages {
  margin-top: 28px;
  margin-bottom: 50px;
}

.filter-product {
  margin-top: 47px;
}

.pages-btn {
  display: inline-block;
  width: 43px;
  height: 34px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding-top: 9px;
  margin-right: 4px;
}

.pages-btn:hover {
  background-color: #663d15;
}

.btn-active {
  background-color: #ffffff;
  color: #000000;
}

.btn-active:hover {
  background-color: #ffffff;
  color: #000000;
}

/*catalog-item.html*/
.item-content-left {
  float: left;
  width: 460px;
  padding-top: 5px;
  padding-right: 10px;
  margin-bottom: 49px;
}

.item-content-right {
  float: right;
  width: 385px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-row {
  width: 460px;
  font-size: 0;
}

.item-row img {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}

.item-row img:last-child {
  margin-right: 0px;
}

.item-details {
  font-size: 0;
  margin-top: 25px;
}

.item-available {
  display: inline-block;
  min-width: 180px;
  font-size: 14px;
}

.item-number {
  display: inline-block;
  min-width: 200px;
  text-align: right;
  font-size: 14px;
  color: #aeaeae;
}

.item-info p {
  margin-top: 23px;
  margin-bottom: 35px;
}

.item-purchase {
  font-size: 0;
}

.item-purchase .product-price {
  min-height: 33px;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 3px;
  margin-left: 0;
}

.item-purchase .purchase-btn {
  min-height: 25px;
}

.item-contents {
  margin-top: 62px;
}

.contents-list {
  padding-left: 23px;
  margin-top: 27px;
}

.contents-list li {
  list-style: none;
  position: relative;
}

.contents-list li::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #000000;
  transform: rotate(45deg);
  bottom: 35%;
  left: -5%;
}

.item-big {
  margin-bottom: 14px;
}

.item-big img {
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
}

/*price.html*/
.page-header {
  display: block;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  width: 600px;
  margin-left: 163px;
  margin-bottom: 62px;
  position: relative;
}

.page-header::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 2px;
  background-color: #000000;
  bottom: 50%;
  left: -28%;
}

.page-header::after {
  position: absolute;
  content: "";
  width: 160px;
  height: 2px;
  background-color: #000000;
  bottom: 50%;
  left: 102%;
}

.price-left {
  float: left;
  width: 240px;
  margin-bottom: 44px;
}

.price-left-list {
  padding-left: 20px;
}

.price-left-list li {
  list-style: none;
  position: relative;
  margin-bottom: 13px;
}

.price-left-list li::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #000000;
  transform: rotate(45deg);
  bottom: 38%;
  left: -8%;
}

.price-right {
  float: right;
  width: 460px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 44px;
}

.price-right h3 {
  width: 220px;
}

.price-left h3 {
  margin-bottom: 27px;
}

.price-right h3 {
  margin-bottom: 31px;
}

.price-table {
  border-collapse: collapse;
  border: 2px solid #000000;
}

.price-table td {
  height: 39px;
  border: 2px solid #000000;
  padding-top: 0;
  padding-bottom: 0;
}

.table-left {
  width: 210px;
  text-align: left;
  padding-left: 17px;
}

.table-right {
  text-align: center;
  width: 227px;
}

.price-bottom {
  float: left;
  min-width: 860px;
  margin-bottom: 78px;
}

.price-bottom p {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 0;
}

.price-bottom-left {
  width: 390px;
  margin-right: 77px;
}

.price-bottom-right {
  width: 385px;
}